
<ol class="posts">
  <% @posts.each do |post| %>
    <li>
    <span class="title"><%= link_to post.title, post %></span>
    <div class="info timestamp"><%= post.created_at %></div>
    <div class="info topic"><%= post.topic %></div>
    &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
    
    
    </li>
  <% end %>
</ol>
