<div class="right-side-bar">
  <h5 class="card-header">Recent Members</h5>
  <div class="grid-container">
    <% @recentpost.each do |recentpost| %>
      <div class="grid-item">
        <div><%= link_to gravatar_for(recentpost.user, size: 40), recentpost.user %></div>
        <div><%= link_to recentpost.user.name, recentpost.user %></div>
      </div>
    <% end %>
  </div>
</div>