<div class="right-side-bar">
  <div class="spacer"></div>
    <h5 class="card-header">Post</h5>
    <div class="toppost-container">
    <% @toppost.each do |toppost| %>
            <div class="col-md-8 toppost-left">
                <%= link_to toppost.title, toppost %>
                </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-eye-open"></span>
                <%= toppost.view %>
            </div>
    <% end %>
    </div>
</div>