<div class="right-side-bar">
  <div class="spacer"></div>
  <h5 class="card-header">Topic</h5>
  <div class="grid-container">
      <div class="grid-item">
        <label><a>A.I.</a><input type="checkbox" name="tag_ids[]" value="1" /></label>
      </div>
      <div class="grid-item">
        <label><a>Rails</a><input type="checkbox" name="tag_ids[]" value="2" /></label>
      </div>
      <div class="grid-item">
        <label><a>Go</a><input type="checkbox" name="tag_ids[]" value="3" /></label>
      </div>
      <div class="grid-item">
        <label><a>Game</a><input type="checkbox" name="tag_ids[]" value="4" /></label>
      </div>
      <div class="grid-item">
        <label><a>V.R.</a><input type="checkbox" name="tag_ids[]" value="5" /></label>
      </div>
      <div class="grid-item">
        <label><a>Vue</a><input type="checkbox" name="tag_ids[]" value="6" /></label>
      </div>
      <div class="grid-item">
        <label><a>AWS</a><input type="checkbox" name="tag_ids[]" value="7" /></label>
      </div>
      <div class="grid-item">
        <label><a>Web</a><input type="checkbox" name="tag_ids[]" value="8" /></label>
      </div>
      
  </div>
</div>